@media screen {
  *{
  background-image: url(../205-IA-2.0/images/behnam-norouzi-XEhKeB8gvL0-unsplash.jpg);
  background-size: cover;
  image-resolution: 100%;
  height: auto;
  width: auto;
}
}